.motivation-enter {
  opacity: 0;
}

.motivation-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.motivation-enter-done {
  opacity: 1;
}
.motivation-exit {
  opacity: 1;
}

.motivation-exit-active {
  opacity: 0;

  transition: opacity 400ms ease-in;
}
.motivation-exit-done {
  opacity: 0;
}
.menu-enter {
  opacity: 0;
  transform: translateY(-91%);
  /* transform: scale(0.9); */
}
.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 400ms,
    transform 600ms;
}
.menu-exit {
  opacity: 1;
  transform: translateY(0);
}
.menu-exit-active {
  opacity: 0;
  transform: translateY(-91%);

  /* transform: scale(0.9); */
  transition:
    opacity 400ms,
    transform 600ms;
}

.icon-wrapper {
  transition: transform 0.5s ease;
}

.icon-wrapper.active {
  transform: scale(1.2);
}
