.flatpickr-calendar {
  background-color: #161f37;
  width: 300px;
  height: 330px;
  font-size: 14px;
  font-family: 'Manrope';
  border-radius: 8px;
  line-height: 1.28;
}

.dayContainer {
  outline: 0;
  width: 290px;
  min-width: 290px;
  max-width: 290px;

  padding: 0 0 0 7px;
}

.flatpickr-days {
  width: 290px;
}

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  color: rgba(243, 243, 243, 0.9);
  cursor: pointer;
  font-weight: 400;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #f3f3f3;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #161f37;
  border-color: #f3f3f3;
}
.flatpickr-weekdays {
  width: 280px;
  height: 28px;
  margin-top: 10px;
  padding: 0 0 0 9px;
}

span.flatpickr-weekday {
  font-family: 'Manrope';
  font-size: 14px;
  background: #161f37;
  color: rgba(243, 243, 243, 0.5);
  font-weight: 600;
  line-height: 1;
}

.flatpickr-months::after {
  content: '';
  width: 262px;
  height: 1px;
  background-color: rgba(243, 243, 243, 0.2);
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 55px;
}

.flatpickr-months .flatpickr-month {
  background: #161f37;
  color: #fff;
  fill: #fff;
  height: 50px;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  height: 34px;
  padding: 20px;
  z-index: 3;
  color: #fff;
  fill: #fff;
}

.flatpickr-current-month {
  font-size: 18px;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  left: 11.5%;
  margin: 14px 0;
  padding: 0;

  height: 50px;
}
.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: none !important;
  background: #161f37;
  border: none;
  border-radius: 0;
  text-align: right;
  padding: 0 8px;
}
